[Unit]
Description=Consul Email Notifier Service

[Service]
ExecStart= /home/vagrant/emailNotifier.sh ; echo Done

[Install]
WantedBy=multi-user.target


