[Unit]
Description=Consul Server

[Service]
ExecStart= /etc/systemd/system/startConsulServer.sh ; echo Done

ExecStop= /usr/local/bin/consul leave

[Install]
WantedBy=multi-user.target


